@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  height                    : 100%;
  margin                    : 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #303030;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  touch-action: manipulation;
}

